<ion-view title="Time Clock">
  <ion-content class="has-header padding">
      <div class="item item-divider">Current Status: Clocked In (8:23am)</div>
      <button ng-click="timeClock('in')" class="button button-large button-balanced button-block">Clock In</button><br/>
      <button ng-click="timeClock('out')" class="button button-large button-assertive button-block">Clock Out</button><br/>
      <button ng-click="timeClock('pause')" class="button button-large button-positive button-block">Pause</button>
  </ion-content>
</ion-view>
